@import 'cc-ss_colors';
@import 'cc-ss_skeleton';

$clear: 1;
$minvh: 100vh;
$break-large: 767px;
$break-lrg: 768px;
$space: 2em;

/* Base Styles */

body {
  background-color: $white;

  p {
    font-weight: 100;
  }

  a {
    font-weight: 500;
    text-decoration: none;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;

    &:hover {
      color: $maroon;
    }
  }

  small {
    opacity: 0.7;
  }

  .l0rd {
    font-weight: 500;
  }

  .maple {
    opacity: $clear;
    line-height: 0;
  }
}

/* Layout Styles */

.l-main-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100vw;
  min-height: $minvh;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  @media (min-width: $break-lrg) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.l-flex-side {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  @media (min-width: $break-lrg) {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 30%;
    flex: 1 0 30%;
    min-height: $minvh;
  }

  small {
    padding-bottom: 0;
  }

  .title {
    margin-top: 1.5rem;
  }

  .l-wrapper-nav {
    width: 100%;
    padding: 2%;
    min-height: $minvh;

    .cafe {
      width: 55%;
      margin: 0;
      padding: 0;
    }

    @media (min-width: $break-lrg) {
      position: fixed;
      width: 30%;
      padding: 0;
      top: 0;
      left: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: distribute;
      justify-content: space-around;
    }
  }

  p {
    padding: 0 16%;
    margin: 0;
  }

  img {
    width: 75%;
    margin: 2%;
    margin-top: 3%;
  }

  .l-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6%;
    padding: 0 16%;

    a {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }

    li {
      margin: 0;
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    i {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }
}

.l-flex-main {
  margin: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  .l-blurb,
  .l-projects,
  .l-thoughts,
  .l-music,
  .l-songs,
  .l-tit {
    margin-top: 2em;
  }

  h2 .up,
  h2 .down {
    display: inline-block;
    opacity: 0;
    -webkit-transition: 700ms;
    transition: 700ms;
  }

  h2 .up {
    -webkit-transform: translateZ(0) translateY(-6rem);
    transform: translateZ(0) translateY(-6rem);
  }

  h2 .down {
    -webkit-transform: translateZ(0) translateY(6rem);
    transform: translateZ(0) translateY(6rem);
  }

  h2:hover .up,
  h2:hover .down {
    opacity: 1;
    -webkit-transition: -webkit-transform 1200ms opacity 800ms;
    transition: -webkit-transform 1200ms opacity 800ms;
    transition: transform 1200ms opacity 800ms;
    transition: transform 1200ms opacity 800ms, -webkit-transform 1200ms opacity 800ms;
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    -webkit-transition-delay: 800ms, 400ms;
    transition-delay: 800ms, 400ms;
  }

  @media (min-width: $break-lrg) {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 70%;
    flex: 1 1 70%;
  }

  .camel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 5px solid $secondary-color;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-radius: 4px;

    img {
      width: 100%;
      padding-bottom: -6em;
    }
  }

  .u-logo {
    margin-top: 1em;
    width: 35%;
  }

  img {
    max-width: 100%;
  }

  p {
    margin: 1em 0;
  }

  small {
    float: right;
    width: 100%;
    margin-bottom: 1em;
  }

  .l-music iframe {
    border-radius: 2px;

    @media (max-width: $break-large) {
      height: 240px;
    }
  }

  .eps {
    margin-top: 1.5em;
  }

  .l-songs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;

    .sing {
      margin-top: 1.5em;
    }

    & > * {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;

      @media (min-width: $break-lrg) {
        -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
        margin: 2%;
      }
    }

    iframe {
      padding-bottom: 1%;

      @media (min-width: $break-lrg) {
        padding: 5%;
      }
    }
  }

  .l-thoughts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    .c {
      display: static;

      @media (min-width: $break-lrg) {
        display: none;
      }
    }

    img {
      max-width: 90%;
      padding: 4%;
    }

    .node {
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      margin-bottom: 1em;
      max-height: 50vh;
    }

    .l-lntr {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-bottom: 1em;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      padding: 2%;
    }

    ol {
      margin-left: 1.5%;

      a {
        margin-left: 1.5%;
      }
    }

    h3 {
      margin-top: 1em;
    }

    small {
      margin-right: 1.5%;
      padding: 1em 0;
    }
  }

  .cheese img {
    border-radius: 75%;
    width: 85%;
  }
}

/* Module Styles */

#flex-side {
  background: $primary-color;
  text-align: center;
  font-size: 2rem;
  -webkit-box-shadow: 5px 0 9px $primary-color;
  box-shadow: 5px 0 9px $primary-color;

  p {
    color: #fff;
    font-weight: 300;
  }

  a {
    color: $secondary-color;
    font-weight: 300;

    &:hover {
      color: lighten($secondary-color, 40%);
    }
  }

  small {
    font-size: 92%;
  }

  .social {
    list-style: none;

    &:hover i {
      opacity: $clear;
    }

    li {
      -webkit-transition: all 0.25s;
      transition: all 0.25s;
    }

    i {
      opacity: 0.6;
      -webkit-transition: all 0.25s;
      transition: all 0.25s;
    }
  }
}

.flex-main {
  text-align: center;

  small {
    font-size: 70%;
    font-weight: 500;
    text-align: right;
    color: $maroon;
  }

  .blurb {
    font-weight: 300;
    line-height: 1.5em;
    letter-spacing: 0.005em;
  }

  .thoughts {
    font-weight: 300;
    line-height: 1.3em;
    letter-spacing: 0.005em;

    code {
      font-size: 1.5rem;
    }

    h3 {
      cursor: pointer;
      -webkit-transition: all 0.1s;
      transition: all 0.1s;

      &:hover {
        color: lighten($olive, 15%);
      }
    }

    ol {
      text-align: left;
      list-style: none;

      li:hover > i {
        color: lighten($secondary-color, 20%);
      }

      i {
        color: $secondary-color;
        -webkit-transition: all 0.25s;
        transition: all 0.25s;

        &:hover {
          color: lighten($secondary-color, 20%);
        }
      }
    }

    .lntr {
      text-align: left;
    }

    .hacker {
      font-weight: 500;
      color: $maroon;
      -webkit-transition: all 0.25s;
      transition: all 0.25s;

      &:hover {
        color: lighten($maroon, 30%);
      }
    }
  }
}
