@import 'cc-ss_colors';
@import 'cc-ss_skeleton';

$clear: 1;
$minvh: 100vh;
$break-small: 360px;
$break-medium: 467px;
$break-mezzo: 640px;
$break-large: 767px;
$break-lrg: 768px;
$space: 2em;

.main-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100vw;
  min-height: $minvh;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  @media (min-width: $break-lrg) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.title {
  color: $secondary-text-color;
  font-weight: 500;
  margin: 0;
  padding-top: 10%;
}

.flex-side {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: $primary-color;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: 2rem;
  box-shadow: 5px 0 9px $primary-color;

  @media (min-width: $break-lrg) {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 30%;
    flex: 1 0 30%;
    min-height: $minvh;
  }

  small {
    opacity: 0.7;
    font-size: 92%;
    padding-bottom: 0;
  }

  .wrapper-nav {
    width: 100%;
    padding: 2%;
    background: $primary-color;
    min-height: $minvh;

    @media (min-width: $break-lrg) {
      position: fixed;
      width: 30%;
      padding: 0;
      top: 0;
      left: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: distribute;
      justify-content: space-around;
    }
  }

  p {
    color: #fff;
    font-weight: 300;
    padding: 0 16%;
    margin: 0;
  }

  img {
    width: 75%;
    margin: 2%;
    margin-top: 3%;
  }
}

.maple {
  opacity: $clear;
  line-height: 0;
}

.flex-main {
  margin: 5%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  .blurb,
  .projects,
  .thoughts,
  .music,
  .songs,
  .tit {
    margin-top: 2em;
  }

  @media (min-width: $break-lrg) {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 70%;
    flex: 1 1 70%;
  }

  a {
    text-decoration: none;
  }

  .projects {
    font-weight: 100;

    a {
      font-weight: 500;

      &:hover {
        color: lighten($primary-color, 20%);
        -webkit-transition: all 0.25s;
        transition: all 0.25s;
      }
    }
  }
}

.blurb {
  font-weight: 300;
  line-height: 1.5em;
  letter-spacing: 0.005em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.l0rd {
  color: $primary-color;
  font-weight: 500;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;

  &:hover {
    color: $maroon;
  }
}

.about a {
  text-decoration: none;
  color: $secondary-color;
  font-weight: 300;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;

  &:hover {
    color: lighten($secondary-color, 40%);
  }
}

.social {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6%;
  padding: 0 16%;

  li {
    margin: 0;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  i {
    opacity: 0.6;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

:hover i {
  opacity: $clear;
}

.music iframe {
  border-radius: 2px;

  @media (max-width: $break-large) {
    height: 240px;
  }
}

.camel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 5px solid $secondary-color;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-radius: 4px;

  img {
    width: 10%;
    height: 3.5em;
  }
}

.eps {
  margin-top: 1.5em;
}

.songs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;

  .sing {
    margin-top: 1.5em;
  }

  & > * {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;

    @media (min-width: $break-lrg) {
      -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
      margin: 2%;
    }
  }

  iframe {
    padding-bottom: 1%;

    @media (min-width: $break-lrg) {
      padding: 5%;
    }
  }
}

.thoughts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.3em;
  letter-spacing: 0.005em;

  img {
    max-width: 84%;
    padding: 4%;
  }

  .node {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-bottom: 1em;
    max-height: 50vh;
  }

  .lntr {
    text-align: left;
    width: 40%;
    padding: 4%;
    margin-bottom: 1em;
  }

  ol {
    text-align: left;
    margin-left: 1.5%;
    list-style: none;

    i {
      color: $secondary-color;
      -webkit-transition: all 0.25s;
      transition: all 0.25s;

      &:hover {
        color: lighten($secondary-color, 20%);
      }
    }

    a {
      margin-left: 1.5%;
    }
  }

  h3 {
    margin-top: 1em;
  }

  .hacker {
    font-weight: 500;
    color: $maroon;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;

    &:hover {
      color: lighten($maroon, 30%);
    }
  }

  a {
    font-weight: 500;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;

    &:hover {
      color: $maroon;
    }
  }

  small {
    opacity: 0.7;
    font-size: 70%;
    text-align: right;
    font-weight: 500;
    margin-right: 1.5%;
    color: $maroon;
    padding: 1em 0;
  }
}

.cheese img {
  border-radius: 75%;
  width: 85%;
}
