@import 'cc-ss-colors';
@import 'cc-ss-skeleton';

$clear: 1;
$minvh: 100vh;
$break-large: 767px;
$break-lrg: 768px;
$space: 2em;

/* Base Styles */

body {
  background-color: $white;

  p { font-weight: 100; }

  a {
    font-weight: 700;
    text-decoration: none;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;

    &:hover { color: $maroon; }
  }

  small {
    opacity: 0.7;
  }
}

.sticky {
  position: fixed;
  top: 0;
}

.main {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100vw;
  min-height: $minvh;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  #intro {
    text-align: left;
    font-size: 3.25rem;
    padding: 3%;

    h2 {
      text-align: center;
      margin-bottom: 6rem;
    }

    p {
      font-size: 2rem;
    }

    @media (min-width: $break-lrg) {
      h2 {
        font-size: 6rem;
      }

      p {
        font-size: 3rem;
      }
    }
  }

  .main__banner {
    height: 100vh;
    background: $primary-color;

    a {
      color: $yellow;

      &:hover {
        color: lighten($yellow, 50%);
      }
    }

    @media (min-width: $break-lrg) {
      .main__banner__wrapper {
        margin-bottom: 0.25%;
        font-size: 8rem;
      }
    }

    @media (max-width: $break-large) {
      .main__banner__wrapper {
        font-size: 3.92rem;
        margin-bottom: 3%;
      } 
    }

    .main__banner__wrapper {
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s;
      -webkit-animation-duration: 1s;
      animation-duration: 1;
      padding: 1%;
      text-align: center;

      @media (min-width: $break-lrg) {
        .main__banner__wrapper__logo {
          width: 40%;
          margin-bottom: -0.75rem;
        }
      }

      @media (max-width: $break-large) {
        .main__banner__wrapper__logo {
          width: 65%;
          margin-bottom: -0.5rem;
        }
      }

      span {
        opacity: $clear;
        line-height: 0;
        font-size: 3rem;
      }
    }

    .main__banner__list.sticky {
      width: 100%;
      height: 9vh;
      box-shadow:  0 0 8px darken($primary-color, 50%);
      z-index: 1000;
    }

    .main__banner__list {
      background: $primary-color;
      display: flex;
      list-style: none;
      height: 8%;
      text-align: center;
      align-items: center;
      width: 100%;
      float: right;

      .main__banner__list__logo {
        flex: 2;
        display: none;
        text-align: left;
        margin-left: 0.5rem;
        width: 30%;

        @media (min-width: $break-lrg) {
          img {
            margin-bottom: -2rem;
            width: 40%;
          }
        }

        @media (max-width: $break-large) {
          img {
            margin-bottom: -1.8rem;
            height: 5.5vh;
            width: 100%;
          }
        }
      }

      @media (min-width: $break-lrg) {
        .main__banner__list__logo {
          margin-left: 2.5rem;
          flex: 4;
        }

        .main__banner__list__item {
          font-size: 2rem;
        }
      }

      .main__banner__list__item {
        flex: 1;
        color: $yellow;
        text-transform: uppercase;
        letter-spacing: 0.075rem;
        transition: all 0.3s;
        font-size: 1.5rem;
        cursor: pointer;
        height: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background: lighten($primary-color, 30%);
        }
      }
    }

    @media (min-width: $break-lrg) {
      p {
        padding: 2% 6%;
        font-size: 3.25rem;
      }
      small {
        font-size: 2.75rem;
      }
    }

    @media (max-width: $break-large) {
      p {
        padding: 6%;
        padding-top: 10%;
        padding-bottom: 1%;
        font-size: 2.25rem;
      }
      small {
        font-size: 2rem;
      }
    }

    p {
      text-align: center;
      color: #fff;
    }
  }
}

.main__nav {
   background: $primary-color;
   height: 9vh;
   width: 100%;
   z-index: 1000;
   position: fixed;
   top: 0;
   list-style: none;
   display: flex;
   align-items: center;
   box-shadow:  0 0 8px darken($primary-color, 50%);

   .main__nav__logo {
     flex: 4;
     text-align: left;
     margin-left: 2.5rem;

     img {
       height: 6vh;
       margin-bottom: -2rem;
     }
   }

   .main__nav__item {
     flex: 1;
     color: $yellow;
     text-transform: uppercase;
     letter-spacing: 0.075rem;
     transition: all 0.3s;
     cursor: pointer;
     height: 100%;
     margin: 0;
     justify-content: center;
     display: flex;
     align-items: center;

     &:hover {
       background: lighten($primary-color, 30%);
     }
   }
}

.main__body {
  margin: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;

  .main__body__section {
    margin-top: 3em;
    padding: 0 8%;

    h2 {
      font-size: 3rem;
      letter-spacing: -.25rem;
    }

    @media (min-width: $break-lrg) {
      h2 {
        font-size: 3.6rem;
      }
    }

    .main__body__section__fig {
      width: 90%;
      border-bottom: 1px solid $gray;
      padding: 2%;
      text-align: left;
      display: inline-block;
      margin: 2%;

      img {
        border: 1px solid $gray;
      }
  
      img,
      p,
      h6 {
        transition: opacity 0.2s;
      }
  
      a:hover img,
      a:hover p,
      a:hover h4,
      a:active img,
      a:active p,
      a:active h4 {
        opacity: 0.5;
      }
  
      a:hover {
        color: $primary-color;
      }
    }

    @media (min-width: $break-lrg) {
      .main__body__section__fig {
        width: 41%;
      }
    }
  }

  p {
    font-weight: 300;
    line-height: 1.5em;
    letter-spacing: -0.05em;
  }

  small {
    font-size: 80%;
    font-weight: 500;
    color: $maroon;
    margin-right: 1.5%;
    padding: 1em 0;
    display: flex;
    justify-content: flex-end;
  }

  .main__body__section--post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-weight: 300;
    line-height: 1.3em;
    letter-spacing: 0.005em;
    margin-top: 5em;
    padding: 0 6%;
    text-align: left;

    h1 {
      text-align: center;
    }

    img {
      max-width: 90%;
      padding: 4%;
    }

    .main__body__content__img {
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      margin-bottom: 1em;
      max-height: 50vh;
    }

    .main__body__content__code {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-bottom: 1em;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      padding: 2%;
      font-size: 1.5rem;
      text-align: left;
    }

    ol {
      margin-left: 1.5%;
      text-align: left;
      list-style: none;

      svg {
        color: $yellow;
        -webkit-transition: all 0.25s;
        transition: all 0.25s;

        &:hover { color: lighten($yellow, 55%); }
      }

      li:hover > svg { color: lighten($yellow, 55%); }

      a { margin-left: 1.5%; }
    }
  }

  .main__body__section--content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-weight: 300;
    line-height: 1.3em;
    letter-spacing: 0.005em;
    margin-top: 6em;
    text-align: center;
    margin-bottom: 2em;

    h2 {
      font-size: 3rem;
    }

    h3 {
      text-align: left;
      font-size: 2.5rem;
    }

    small {
      justify-content: flex-start;
      margin-bottom: 2.5em;
    }

    .main__body__content__span--hidden {
      display: static;

      @media (min-width: $break-lrg) { display: none; }
    }

    h3 {
      margin-top: 1em;
      cursor: pointer;
      -webkit-transition: all 0.1s;
      transition: all 0.1s;

      &:hover { color: lighten($olive, 15%); }
    }
  }

  @media (min-width: $break-lrg) {
    .main__body__section--content {
      padding: 0 15%;

      h2 {
        font-size: 3.6rem;
      }

      h3 {
        font-size: 3rem;
      }
    }
  }

  .icon--up,
  .icon--down {
    display: inline-block;
    opacity: 0;
    -webkit-transition: 700ms;
    transition: 700ms;
  }

  .icon--up {
    -webkit-transform: translateZ(0) translateY(-6rem);
    transform: translateZ(0) translateY(-6rem);
  }

  .icon--down {
    -webkit-transform: translateZ(0) translateY(6rem);
    transform: translateZ(0) translateY(6rem);
  }

  h2:hover .icon--up,
  h2:hover .icon--down {
    opacity: 1;
    -webkit-transition: -webkit-transform 1200ms opacity 800ms;
    transition: -webkit-transform 1200ms opacity 800ms;
    transition: transform 1200ms opacity 800ms;
    transition: transform 1200ms opacity 800ms, -webkit-transform 1200ms opacity 800ms;
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    -webkit-transition-delay: 800ms, 400ms;
    transition-delay: 800ms, 400ms;
  }

  @media (min-width: $break-lrg) {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 70%;
    flex: 1 1 70%;
  }

  img,
  iframe { max-width: 100%; }
  h3 { margin-top: 2.5em; }

  iframe {
    border-radius: 2px;

    @media (max-width: $break-large) { height: 240px; }
  }

  .main__body__section__logo {
    margin-top: 1em;
    width: 35%;
  }

  .main__body__content__span,
  .main__body__section__span {
    font-weight: 500;
    color: $maroon;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;

    &:hover { color: lighten($maroon, 40%); }
  }

  .main__body__section__header,
  .main__body__section__media__title { margin-top: 1.5em; }

  .main__body__section__media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;

    iframe {
      max-width: 100%;
    }

    & > * {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;

      @media (min-width: $break-lrg) {
        -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
        margin: 2%;
      }
    }

    iframe {
      padding-bottom: 1%;

      @media (min-width: $break-lrg) { padding: 5%; }
    }
  }

  .main__body__media--special img {
    border-radius: 75%;
    width: 85%;
  }
}

.footer,
footer {
  width: 100%;
  padding: 1% 0;
  font-size: 1.25rem;
  background-color: $black;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;

  h4 {
    color: $secondary-text-color;
    font-size: 1.5rem;
    letter-spacing: 0.025rem;
  }

  .footer__body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .footer__social {
    list-style: none;
    display: flex;
    width: 60%;
    margin: 0;
  }

  .social__item {
    flex: 1;
    display: flex;
    justify-content: center;

    a {
      color: $secondary-text-color;

      &:hover {
        color: darken($white, 20%);
      }
    }
  }

  @media (min-width: $break-lrg) {
    .footer__social {
      width: 26%;
    }
  }
}
