@import 'css/cc-ss_colors';
@import 'css/cc-ss_skeleton';

$clear: 1;
$minvh: 100vh;
$break-small: 360px;
$break-medium: 467px;
$break-mezzo: 640px;
$break-large: 767px;
$break-lrg: 768px;

.main-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-height: $minvh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  @media (min-width: $break-small) and (max-width: $break-large) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.title {
  color: $secondary-text-color;
  font-weight: 500;
  margin: 0;
}

.flex-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: $primary-color;
  min-height: $minvh;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  font-size: 1.5rem;

  @media (min-width: $break-small) and (max-width: $break-large) {
    display: block;
    width: 100%;
  }

  @media (min-width: $break-lrg) {
    -webkit-box-flex: 2;
    -ms-flex: 2 2 35%;
    flex: 2 2 35%;
  }

  /* box-shadow: 5px 0 20px $primary-color; */

  small {
    opacity: 0.7;
    font-size: 92%;
    padding-bottom: 0;
  }

  .wrapper-nav {
    position: fixed;
    width: 33.3333333%;
    padding: 4%;

    @media (min-width: $break-small) and (max-width: $break-large) {
      position: relative;
      width: 100%;
      padding: 0;
    }
  }

  p {
    color: #fff;
    font-weight: 300;
    padding: 0 16%;
    margin: 0;
  }

  img {
    border-radius: 50%;
    width: 75%;
    height: 342px;
    margin: 2%;
    margin-top: 3%;
  }
}

.maple {
  opacity: $clear;
  line-height: 0;
  font-size: 4rem;
}

.flex-main {
  -ms-flex-preferred-size: 70%;
  flex-basis: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;

  @media (min-width: $break-small) and (max-width: $break-large) {
    display: block;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
    margin: 5%;
  }

  @media (min-width: $break-lrg) {
    -webkit-box-flex: 1;
    -ms-flex: 0.5 0.5 60%;
    flex: 0.5 0.5 60%;
  }

  a {
    text-decoration: none;
  }

  div {
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
  }

  .projects {
    font-weight: 100;

    a {
      font-weight: 500;

      &:hover {
        color: lighten($primary-color, 20%);
        -webkit-transition: all 0.25s;
        transition: all 0.25s;
      }
    }
  }
}

.flex-main > * {
  -ms-flex-preferred-size: 80%;
  flex-basis: 80%;
}

.blurb {
  font-weight: 300;
  line-height: 1.5em;
  letter-spacing: 0.005em;
  margin-top: 2.7em;
}

.l0rd {
  color: $l0rd-green;
  font-weight: 500;
}

.about a {
  text-decoration: none;
  color: $secondary-color;
  font-weight: 300;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;

  &:hover {
    color: lighten($secondary-color, 20%);
  }
}

.social {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0 16%;

  li {
    margin: 0;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  svg {
    opacity: 0.6;
    -webkit-transition: all;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

.social li:hover svg {
  opacity: $clear;
}

.music iframe {
  border-radius: 2px;

  @media (min-width: $break-small) and (max-width: $break-large) {
    height: 240px;
  }
}

.camel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 80%;
  flex-basis: 80%;
  margin-bottom: 3%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border: 1px solid $secondary-color;

  img {
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;
  }
}

.songs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;

  & > * {
    -ms-flex-preferred-size: 44%;
    flex-basis: 44%;
    padding: 1%;

    @media (min-width: $break-small) and (max-width: $break-medium) {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
      flex: 1 1 40%;
    }

    @media (min-width: $break-mezzo) {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
  }

  iframe {
    padding: 5%;

    @media (min-width: $break-small) and (max-width: $break-large) {
      height: 80px;
      padding: 0;
    }
  }
}

.cheese img {
  border-radius: 75%;
  width: 85%;
}
