.main-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-height: 100vh;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1%;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-preferred-size: 70%;
  flex-basis: 70%;
  -ms-flex-line-pack: center;
  align-content: center;
}

.flex-row2 {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.flex-row2 img {
  border-radius: 50%;
  min-height: 360px;
  max-width: 360px;
  -webkit-transform: scale(0.75, 0.75);
  transform: scale(0.75, 0.75);
}

.flex-row2 p {
  color: #ddd;
  text-align: center;
  padding: 0 15%;
  letter-spacing: -0.0025em;
  line-height: 1.6em;
  font-size: 17px;
}

.flex-row2 .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.blurb {
  font-size: 5rem;
  font-weight: 300;
  color: #ddd;
  opacity: 0.9;
  padding: 2%;
  line-height: 1.2em;
  letter-spacing: -0.075em;
  -ms-flex-preferred-size: 50%;
  flex-basis: 100%;
}

.blurb span {
  background: hsla(212, 45%, 70%);
  padding: 1%;
  border-radius: 3px;
}

.about .social {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0 9%;
}

.social li {
  margin: 0;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 0.1px solid rgba(255, 255, 255, 0.1);
  background: hsla(212, 70%, 70%);
  border-radius: 2px;
}

.social li:hover {
  background: hsla(212, 100%, 60%);
  border: 0.5px solid #aaa;
}

.social svg {
  opacity: 0.5;
  -webkit-transform: scale(0.4, 0.4);
  transform: scale(0.4, 0.4);
  -webkit-transition: all;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.social li:hover svg {
  opacity: 1;
}

.mess iframe {
  border-radius: 2px;
}

.mess {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.songs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.songs iframe {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}
