<!DOCTYPE html>
<html lang="en">
    <% if (page.date) { %>
        <%- partial('_partial/post-head') %>
    <% } else { %>
        <%- partial('_partial/head') %>
    <% } %>
<div class="main" itemscope itemtype="http://www.l0rdcafe.com/WebPage">
    <%- body %>
    <%- partial('_partial/footer') %>
</div>
</html>
