<%- partial('_partial/nav') %>
<section class="main__body">
<article role="article" class="main__body__section--post" itemscope itemtype="http://www.l0rdcafe.com/BlogPosting"><h1 itemprop="name">💭 <%= page.title %> 💭</h1>
<p itemprop="articleBody"><%- page.content %></p>
<small itemprop="datePublished"><%= page.date.format('MMMM DD, YYYY') %></small>
</article>
</section>