<ul class="main__nav" itemprop="breadcrumb" itemscope itemtype="http://www.l0rdcafe.com/Brand">
    <li class="main__nav__logo"><img src="<%- config.root %>assets/l0rdcafe.jpg" itemprop="logo"></li>
      <a class="main__nav__item" href="<%- config.root %>"><li></li>Home</li></a>
      <a class="main__nav__item" href="<%- config.root %>#blog"><li></li>Blog</li></a>
      <a class="main__nav__item" href="<%- config.root %>#music"><li></li>Music</li></a>
  </ul>
