<nav class="main__nav animated bounceInDown" itemprop="breadcrumb" itemscope itemtype="http://www.l0rdcafe.com/Brand" role="navigation">
      <img src="<%= config.root %>assets/l0rdcafe.jpg" class="main__nav__logo" itemprop="logo" role="img" alt="l0rdcafe logo">
      <a class="main__nav__item" href="<%= config.root %>" role="link">Home</a>
      <a class="main__nav__item" href="<%= config.root %>#blog" role="link">Blog</a>
      <a class="main__nav__item" href="<%= config.root %>#music" role="link">Music</a>
  </nav>
